.comment-tile-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: .75rem 0 0 0;
  font-family: sans-serif;
}

.profile-pic-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(112, 182, 6);
  color: white;
  font-family: sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  width: 37.15px;
  height: 32px;
  margin-right: 10px;
  border-radius: 16px;
}

.comment-main {
  background-color: #f2f2f1;
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comment-top-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.username-date {
  display: flex;
}

.comment-options {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

.comment-options-dots {
  font-size: 1.3rem;
  cursor: pointer;
  background-color: #f2f2f1;;
  border-radius: 1rem;
  padding: .25rem;
}

.comment-options-dots:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.options-list-tab {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.comment-username {
  font-weight: bold;
  font-size: .875rem;
  margin-bottom: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.comment-date {
  color: rgba(0, 0, 0, 0.40);
  font-size: smaller;
}
