.full-left-side {
  width: 240px;
  height: 93dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-menu-logged button {
  color: rgba(255, 255, 255, .65);
  cursor: pointer;
  width: 240px;
  border: none;
  display: flex;
  justify-content: start;
  font-size: 16px;
  height: 40px;
  align-items: center;
  text-decoration: none;
  background-color: #001935;
}

.side-menu-logged button:hover {
  background-color: rgba(255, 255, 255, .07);
}

.side-menu-logged {
  padding-top: 40px;
  background-color: #001935;
}

.side-menu-logged p {
  margin-left: 10px;
}

.menu-icon {
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0);
}

.create-btn-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00B8FF;
  height: 40px;
  width: 95%;
  border-radius: 20px;
  font-size: 1.25rem;
  cursor: pointer;
  border: none;
}

.create-btn-container button span {
  color: black;
  margin: 0;
  margin-left: .5rem;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: .1rem;
}

.login-profile, .signup-button {
  color: rgba(255, 255, 255, .65);
  cursor: pointer;
  width: 240px;
  border: none;
  display: flex;
  justify-content: start;
  font-size: 1.125rem;
  height: 40px;
  align-items: center;
  text-decoration: none;
  background-color: #001935;
  font-family: sans-serif;
  list-style-type: none;
}

.login-profile:hover, .signup-button:hover {
  background-color: rgba(255, 255, 255, .07);
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 2;
  width: 100px;
  color: white;
  font-size: 12px;
  background-color: #192733;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
}

.tooltip-text::before {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  background-color: #192733;
  padding: 5px;
  z-index: 1;
}

.hover-text:hover .tooltip-text {
  visibility: visible;
}

#top {
  top: -40px;
  left: -50%;
}

#top::before {
  top: 80%;
  left: 45%;
}
