.profile-dropdown {
  position: absolute;
}

nav {
  display: flex;
  justify-content: center;
}
.nav-bar {
  height: 53px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  width: 1120px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-logo {
  display: flex;
  justify-content: center;
  width: 240px;
}

.nav-logo img {
  width: 140px;
  margin-top: .5rem;
}

.post-menu {
  display: flex;
  width: 578px;
  height: 52px;

  border: 1px solid rgba(255, 255, 255, 0.13);
  border-top: none;
  text-decoration: none !important;
}

.post-menu h2 {
  padding: 14px 16px;
  font-size: 1rem !important;
  text-decoration: none !important;
  list-style: none;
  color: rgba(255, 255, 255, 0.65);
  font-family: sans-serif;
  letter-spacing: .075rem;
}

.menu-link {
  text-decoration: none;
}

.search-form {
  display: flex;
  align-items: center;
  padding: 14px 8px 0 8px;
  width: 284px;
}

.search {
  width: 256px;
  height: 24px;
  padding: 5px;
  border-radius: 0 8px 8px 0 ;
  background-color: rgba(255, 255, 255, 0.25);
  border: none;
  font-size: 1rem;
}

.search::placeholder {
  color: rgba(255, 255, 255, 0.65);
}

.search-icon {
  color: rgba(255, 255, 255, 0.65);
  background-color: rgba(255, 255, 255, 0.25);
  width: 18px;
  height: 24px;
  padding: 5px 8px 5px 12px;
  border-radius: 8px 0 0 8px;
}
